Job ID: `{{ .JobId }}`

Success: `{{ .Success }}`

Duration: `{{ .Duration }}` seconds

Speed: `{{ .Speed }}`

Bytes: `{{ .Bytes }}`

Checks: `{{ .Checks }}`

Deletes: `{{ .Deletes }}`

Transfers: `{{ .Transfers }}`

Errors: `{{ .Errors }}`

Renames: `{{ .Renames }}`