Backed up `{{ .DataTransferred }}` in `{{ .Duration }}` at an average speed of `{{ .AverageSpeed }}`

- Checks: `{{ .Checks }}`
- Deletes: `{{ .Deletes }}`
- Transfers: `{{ .Transfers }}`
- Errors: `{{ .Errors }}`
- Renames: `{{ .Renames }}`